/* You can add global styles to this file, and also import other style files */

/* --- COLOR --- */
$black-primary: #0b0b20;
$medium-primary: #5858c3;
$light-primary: #af6eea;
$blue: #5496da;
$green: #68de93;
$medium-grey: #68686d;
$white: #dedee5;

.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.light-primary{
  background-color: $light-primary;
}


body,
html {
  margin: 0;
  padding: 0;
  background-color: $black-primary;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/*router-outlet {
  display: none;
}*/


